Web scraping involves extracting data from websites. Beautifulsoup-library for parsing HTML and XML documents 
pip install beautifulsoup4. There might be some restrictions for using data from websites, similarly than images etc.

In [2]:
from bs4 import BeautifulSoup
import requests

url = "https://www.worldometers.info/coronavirus/"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

titles = soup.find_all('h1')

for title in titles:
    print(title.text)

Coronavirus Cases:
Deaths:
Recovered:

In [4]:
url = "https://www.is.fi/"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

titles = soup.find_all('h2')

for title in titles:
    print(title.text)

Palvelut, info ja apu
Näin Suomesta luodaan nyt vihollis­kuvaa Venäjällä – asian­tuntija: Samoin tapahtui Ukrainalle
Kruununprinsessa Victoria hehkutti Suomessa saamaansa vastaanottoa – nämä lahjat saivat hänet liikuttumaan
Suomessa eletään nyt erikoisia hetkiä – yksi kuva paljastaa tilanteen
Talvilomalta halutaan nyt täydellinen irtiotto – tässä ovat tämän hetken halutuimmat kohteet
Luetuimmat
Tuoreimmat

In [8]:
#here we are going to extract the table from the website using pandas
import pandas as pd 

url = "https://en.wikipedia.org/wiki/Comparison_of_programming_languages"
tables = pd.read_html(url)
print(len(tables))

#for table in tables:
 #   print(table.head())

prog_lang_table = tables[1]

5

In [9]:
prog_lang_table['Language']

0      1C:Enterprise programming language
1                            ActionScript
2                                     Ada
3                                   Aldor
4                                ALGOL 58
                      ...
134                                  Xojo
135                          XPath/XQuery
136                                  Zeek
137                                   Zig
138                                   Zsh
Name: Language, Length: 139, dtype: object

When using open data, typical way is to use APIs (Application Programming Interfaces).
Request library can be used for making HTTP requests and APIs. There are lot of different Python libraries for APIs

In [16]:
#https://www.tilastokeskus.fi/media/uploads/org/avoindata/kartta-aineistojen_lataus_url-osoitteen_kautta_ohje.pdf

import requests
import io

url = "https://geo.stat.fi/geoserver/wfs?service=WFS&version=2.0.0&request=GetFeature&typeName=tieliikenne:tieliikenne_2019&outputFormat=csv"
response = requests.get(url)

#read response as csv into dataframe
df = pd.read_csv(io.StringIO(response.text))
df

,FID,geom,vvonn,kkonn,kello,vakav,onntyyppi,lkmhapa,lkmlaka,lkmjk,lkmpp,lkmmo,lkmmp,lkmmuukulk,x,y
0,tieliikenne_2019.1,POINT (386643.441 6673449.995),2019,1,03.00-03.59,2,4,2,0,0,0,0,0,0,386643.4410,6.673450e+06
1,tieliikenne_2019.2,POINT (392019.4531 6678793.4352),2019,1,04.00-04.59,2,8,1,0,0,0,0,0,0,392019.4531,6.678793e+06
2,tieliikenne_2019.3,POINT (389805.6437 6674107.9829),2019,1,23.00-23.59,2,8,0,1,0,0,0,0,0,389805.6437,6.674108e+06
3,tieliikenne_2019.4,POINT (389930.4719 6678059.8425),2019,1,16.00-16.59,2,8,1,0,0,0,0,0,0,389930.4719,6.678060e+06
4,tieliikenne_2019.5,POINT (387134.3209 6671592.4539),2019,1,20.00-20.59,2,6,1,0,2,0,0,0,0,387134.3209,6.671592e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,tieliikenne_2019.3996,POINT (123537.6597 6697335.8936),2019,11,20.00-20.59,2,8,1,0,0,0,0,0,0,123537.6597,6.697336e+06
3996,tieliikenne_2019.3997,POINT (113481.3283 6698169.1321),2019,12,23.00-23.59,2,8,1,0,0,0,0,0,0,113481.3283,6.698169e+06
3997,tieliikenne_2019.3998,POINT (124626.9363 6694457.254),2019,12,15.00-15.59,2,8,1,0,0,0,0,0,0,124626.9363,6.694457e+06
3998,tieliikenne_2019.3999,POINT (98168.122 6697661.6055),2019,12,16.00-16.59,2,8,1,0,0,0,0,0,0,98168.1220,6.697662e+06
3999,tieliikenne_2019.4000,POINT (171877.7935 6707960.8452),2019,12,15.00-15.59,1,8,1,0,0,0,0,0,0,171877.7935,6.707961e+06

In [19]:
import requests

url = "https://api.chucknorris.io/jokes/random"
response = requests.get(url)
print(response.text)

data = response.json()
print(data['value'])

{"categories":[],"created_at":"2020-01-05 13:42:22.089095","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"nAyNCiCQT2-t4uVudkKEPQ","updated_at":"2020-01-05 13:42:22.089095","url":"https://api.chucknorris.io/jokes/nAyNCiCQT2-t4uVudkKEPQ","value":"No matter how religious you are, you won't be allowed into heaven if the last thing you said before your brutal death was 'I'm not afraid of Chuck Norris'."}
No matter how religious you are, you won't be allowed into heaven if the last thing you said before your brutal death was 'I'm not afraid of Chuck Norris'.

In [21]:
df = pd.read_csv(r"C:\Users\villemaj\OneDrive - Oulun ammattikorkeakoulu\Data Analysis\Test data\ncie_weather_df.csv", parse_dates=['DATE'])
df

,Unnamed: 0,STATION,DATE,LATITUDE,LONGITUDE,WIND_DIR,WIND_SPEED
0,0,6300118,2020-03-06 00:00:00,59.6,5.7,NaN,NaN
1,1,9VDG7,2020-03-06 00:00:00,58.1,7.0,NaN,NaN
2,2,C6PZ7,2020-03-06 00:00:00,59.6,5.7,150.0,0.1
3,3,WDF9323,2020-03-06 00:00:00,57.3,8.6,120.0,3.6
4,4,6300118,2020-03-06 01:00:00,59.6,5.7,NaN,NaN
...,...,...,...,...,...,...,...
519344,986,SBPT,2022-03-31 23:00:00,65.0,22.3,NaN,NaN
519345,987,SDIA,2022-03-31 23:00:00,64.5,22.0,310.0,5.0
519346,988,SMLQ,2022-03-31 23:00:00,65.6,22.2,340.0,3.0
519347,989,UASX,2022-03-31 06:00:00,69.1,32.5,40.0,3.0
519348,990,UBLK,2022-03-31 18:00:00,68.4,38.0,300.0,8.0

In [25]:
df2 = pd.DataFrame(df.groupby('STATION').mean())
#save as csv
df2.to_csv(r"C:\Users\villemaj\OneDrive - Oulun ammattikorkeakoulu\Data Analysis\Test data\ncie_weather_df2.csv")

C:\Users\villemaj\AppData\Local\Temp\ipykernel_11868\869575569.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2 = pd.DataFrame(df.groupby('STATION').mean())